#layout {
    //background: #92c5b4;
    background: url('/images/games/majiang2/bg2.png'); // -webkit-animation: effect 80s infinite linear;
    background-size: 100% 100%;
}

.am-card {
    box-shadow: 0 0 1.5rem #000;
}

.am-card-header-content {
    img {
        width: 2.5rem;
    }
}

.flex-container {
    //margin: 0 15px;
}

.am-tabs {
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.am-tabs-tab-bar-wrap,.am-tabs-default-bar {
    border-radius: .6rem;
    overflow: hidden;
}

.sub-title {
    color: #888;
    font-size: 14px;
    padding: 10px 0 11px 0;
    color: #fff;
    &>img {
        vertical-align: bottom;
        margin-left: 17px;
    }
}

.iconFloat {
    position: absolute;
    top: 1rem;
    right: 0;
    i {
        &:active {
            svg: red;
        }
    }
}

.weakInfo {
    padding: 1rem;
    width: 15rem;
}

@-webkit-keyframes effect {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 0;
    }
    50% {
        background-position: 100% 0;
    }
    75% {
        background-position: 50% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.foooterStyle {
    width: 100%;
    background: #fcfcfc;
    height: 3rem;
    line-height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex; //border-top: solid 1px #ccc;
    box-shadow: 0 -.1rem .8rem #666;
    &>div {
        flex: 1;
        &:last-child {
            text-align: right;
        }
    }
}

.quickCheckIn {
    background: #fff;
    list-style: none;
    margin: 1rem 15px;
    box-shadow: 0 0 1.5rem #000;
    border-radius: .3rem;
    text-align: center;
    li {
        padding: 1rem 0;
        display: inline-block;
        width: 95%;
        text-align: left;
        border-bottom: 1PX solid #ddd;
        position: relative;
        span {
            display: inline-block;
            width: .8rem;
            height: .8rem;
            background: url('/images/games/majiang2/shaizi.png');
            background-size: cover;
            margin: 0 .4rem;
        }
        &:after {
            content: "";
            position: absolute;
            border-top: solid 1px #ccc;
            border-right: solid 1px #ccc;
            width: .8rem;
            height: .8rem;
            right: 1rem;
            -webkit-transform: rotate(45deg);
        }
    }
}