<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <div id='mess'></div>
    <input id='setNameInput'/><button id='btn1'>设置名称</button>
    对谁<input id='toNameInput'/>说<input id='sendMes'/><button id='btn2'>发送</button>
    <div id='contents'></div>
<div>----------------------------------------------</div>
    <!-- <div class="content" id="chat">
        <ul id="chat_conatiner">
        </ul>
    </div>
    <div class="action">
        <textarea ></textarea>
        <button class="btn btn-success" id="clear">清屏</button>
        <button class="btn btn-success" id="send">发送</button>
    </div> -->
</body>
</html>
<%-scripts%>