@import '//at.alicdn.com/t/font_381140_hq27gs22yv6lxr.css';
._transition{-webkit-transition: all 0.1s ease-out;}
.ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.Lackdock{
    position: absolute;
    right: -.5rem;
    top: -.5rem;
    padding: 0 .2rem;
    border:solid 1px #ab9a38;
    border-radius: 1rem;
    color: #efd645;
    background: #3f6cc1
}
button{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: .2rem;
    background: url('/images/games/majiang/button1.png');
    width: 6rem;
    height: 2rem;
    color: #fff;
    background-size: 100% 100%;
    box-shadow: .1rem .1rem .3rem #000;
    ._transition;
    &.hide{opacity: 0;transform: translate3d(0,-.5rem,0);height: 0}
    &.active{opacity: 1;}
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    &:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}
.dockBar{
    position: absolute;
    border: solid 0px #ccc;
    box-sizing: border-box;
    border:solid 0px #eee;
}
.userDock{
    div{font-size: 1rem;}
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('/images/games/majiang/desktop.png');
    background-size: 100% 100%;
    color:#fff;
    .ready_ok{
        display: inline-block;
        width: 1.5rem;
        height: 2rem;
        background: url('/images/games/majiang/ok.png');
        background-size: cover;
    }
    .dockBottom {
        .dockBar;
        width: 100%;
        height: 25%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        .cardsListWrap{
            width: 100%;
            text-align: center;
            margin-top: .7rem;
            .groupCardWrap{
                display: inline-block;
                margin-left: .3rem;
                div{
                    display:inline-block;
                    width:1.8rem;
                    height: 2.5rem;
                    background: url('/images/games/majiang/cards/sleep2.png');
                    background-size: cover;
                }
                span{
                    //-webkit-transform: rotate(180deg) skewX(-10deg);
                    margin-top: .1rem;
                    width:1.3rem;
                    height: 1.8rem;
                    background-position: center -.5rem !important;
                    background-size: 130% 130% !important;
                }
            }
            span{
                position: relative;
                color:#333;
                width:2.2rem;
                height: 3rem;
                display: inline-block;
                //background: url(/images/games/majiang/cards3.png);// .2rem .1rem;
                background-size: 100% 100% !important;
                ._transition;
                &:hover{
                    //transform: translate3d(0,-.5rem,0);
                }
                &.active{
                    transform: translate3d(0,-.5rem,0);
                }
            }
        }
        .operateWrap{
            position: absolute;
            left: 0;right: 0;
            margin: auto;
            top: -4rem;
            //background: #3689f534;
            height: 4.5rem;
            text-align: center;
            z-index: 10;
        }
        .userDock{
            position: absolute;
            height: 4rem;
            left: 2rem;
            top:0;
            bottom: 0;
            margin: auto;
            text-align: center;
            img{width: 2rem;
                height: 2rem;
                border:solid .2rem #99602d;
                border-radius: 2rem;
                box-shadow: 0.05rem 0.05rem 0.3rem #000
            }
            .colorLack{
                .Lackdock;
            }
        }
        .outCardsWrap{
            position:absolute;
            width: 18rem;
            height: 4rem;
            top:-4.5rem;
            left:0;
            right: 0;
            margin:0 auto;
            div{
                display:inline-block;
                width:1.5rem;
                height: 2.1rem;
                background: url('/images/games/majiang/cards/sleep2.png');
                background-size: cover;
                text-align: center;
            }
            span{
                color:#333;
                width:1rem;
                height: 1.4rem;
                display: inline-block;
                ._transition;
                margin-top: .2rem;
                    background-position: center -.4rem !important;
                    background-size: 130% 130% !important;
            }
        }
        
    }
    .dockLeft {
        .dockBar;
        width: 15%;
        height: 75%;
        top: 0;
        left: 0;
        margin:auto 0;
        .userDock{
            position: absolute;
            //width: 100%;
            left: 1.5rem;
            top:1.5rem;
            text-align: center;
            img{width: 2rem;
                height: 2rem;
                border:solid .2rem #99602d;
                border-radius: 2rem;
                box-shadow: 0.05rem 0.05rem 0.3rem #000
            }
            .colorLack{
                .Lackdock;
            }
        }
        .cardsListWrap{
            width: .7rem;
            float: left;
            text-align: center;
            margin-left: 2rem;
            margin-top: 7rem;
            
            &>span{
                margin-top: -.6rem;
                color:#333;
                width:.7rem;
                height:1.4rem;
                float: left;
                //background: url(/images/games/majiang/cards3.png);// .2rem .1rem;
                background-size: 100% 100% !important;
                ._transition;
                -webkit-transform: rotate(180deg);
                box-shadow: -0.4rem 0rem .6rem #000;
            }
            .groupCardWrap{
                display: inline-block;
                margin-top: .3rem;
                div{
                    float: left;
                    width:1.65rem;
                    height: 1.2rem;
                    background: url('/images/games/majiang/cards/sleep3.png');
                    background-size: cover;
                    margin-top: -.18rem;
                }
                span{
                    //-webkit-transform: rotate(180deg) skewX(-10deg);
                    -webkit-transform: rotate(90deg);
                    float: initial;
                    display: inline-block;
                    width:.8em;
                    height: 1rem;
                    background-position: -.1rem -.25rem !important;
                    background-size: 130% 130% !important;
                }
            }
        }
        .outCardsWrap{
            position:absolute;
            width: 11.5rem;
            top:10rem;
            height: 4rem;
            right:-8rem;
            margin:0 auto;
            -webkit-transform: rotate(90deg);
            // span{
            //     color:#333;
            //     width:1.3rem;
            //     height: 1.8rem;
            //     display: inline-block;
            //     background-size: 100% 100% !important;
            //     ._transition;
            // }
            div{
                float: left;
                width:1.2rem;
                height: 1.6rem;
                background: url('/images/games/majiang/cards/sleep4.png');
                background-size: cover;
                margin-left: -.18rem;
                
            }
            span{
                //-webkit-transform: rotate(180deg) skewX(-10deg);
                float: initial;
                display: inline-block;
                width:.8em;
                height: 1rem;
                margin: .3rem auto auto .1rem;
                background-position: -.1rem -.25rem !important;
                background-size: 130% 130% !important;
            }
        }
        
    }
    .dockCenter{
        .dockBar;
        width: 70%;
        height: 55%;
        left: 15%;
        right: 15%;
        top:20%;
        bottom: 25%;
        background: rgba(212, 212, 212,0.1);
        p{font-size:1rem;display: none}
    }
    .dockRight {
        .dockBar;
        width: 15%;
        height: 75%;
        top: 0;
        right: 0;
        left: auto;
        margin:auto 0;
        .cardsListWrap{
            span{
                -webkit-transform: rotate(0deg);
                box-shadow: -.3rem 0rem 0.6rem #000;
            }
            div{
                span{
                    box-shadow: none;
                }
            }
        }
        .outCardsWrap{
            right: auto;
            left: -8rem;
            -webkit-transform: rotate(270deg);
            div{
                background: url('/images/games/majiang/cards/sleep5.png');
                float: right;
                width:1.2rem;
                height: 1.6rem;
                background-size: cover;
                margin-left: -.25rem;
                // &:first-child{
                //     background: url('/images/games/majiang/cards/sleep5.png');
                //     background-size: cover;
                //     margin-left: 0;
                // }
            }
            span{
                float: initial;
                display: inline-block;
                width:.8em;
                height: 1rem;
                background-position: -.1rem -.25rem !important;
                background-size: 130% 130% !important;
                margin: .35rem auto auto .4rem
            }
        }
        .colorLack{
            .Lackdock;
        }
    }
    .dockTop {
        .dockBar;
        width: 70%;
        height: 20%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        .userDock{
            position: absolute;
            //width: 100%;
            left: .5rem;
            top:1.5rem;
            text-align: center;
            div{
                display: inline-block;
                vertical-align: middle
            }
            img{width: 2rem;
                height: 2rem;
                border:solid .2rem #99602d;
                border-radius: 2rem;
                box-shadow: 0.05rem 0.05rem 0.3rem #000
            }
            .colorLack{
                .Lackdock;
                right:auto;
                left: -.5rem;;
            }
        }
        .cardsListWrap{
            width: 100%;
            text-align: center;
            margin-top: 1.7rem;
            
            .groupCardWrap{
                display: inline-block;
                margin-left: .3rem;
                div{
                    display:inline-block;
                    width:1.3rem;
                    height: 1.9rem;
                    background: url('/images/games/majiang/cards/sleep2.png');
                    background-size: cover;
                }
                span{
                    //-webkit-transform: rotate(180deg) skewX(-10deg);
                    -webkit-transform: rotate(180deg);
                    margin-top: .1rem;
                    width:1rem;
                    height: 1.3rem;
                    background-position: center -.3rem !important;
                    background-size: 130% 130% !important;
                    box-shadow: none;
                }
            }
            span{
                position: relative;
                color:#333;
                width:1.2rem;
                height: 1.8rem;
                display: inline-block;
                box-shadow: .2rem .1rem .3rem #000;
                //background: url(/images/games/majiang/cards3.png);// .2rem .1rem;
                background-size: 100% 100% !important;
                ._transition;
                &:hover{
                    //transform: translate3d(0,-.5rem,0);
                }
                &.active{
                    transform: translate3d(0,-.5rem,0);
                }
            }
        }
        .outCardsWrap{
            position:absolute;
            width: 18rem;
            height: 4rem;
            bottom:-4rem;
            left:0;
            right: 0;
            margin:0 auto;
            -webkit-transform: rotate(180deg);
            span{
                color:#333;
                width:1.2rem;
                height: 1.5rem;
                display: inline-block;
                ._transition;
                margin-top: .2rem;
                    background-size: cover !important;
            }
        }
        
    }
    .topInfoBar{
        position: absolute;
        top:-6.5rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 25rem;
        height: 8rem;
        background: #995f2dc0;
        border: solid .3rem #7c400b;
        border-top: 0;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 0 1rem #000 inset;
        -webkit-transition: all 0.3s ease-out;
        color: #ddd;
        &>div{
            height: 6rem;
            overflow: auto;
            margin-top: .5rem;
            table{
                width: 100%;
                border-spacing:0;
                th{
                    padding-top: 1rem;
                    span{
                        .ellipsis;
                        display: inline-block;
                        width:5rem
                    }
                }   
                td{
                    border-top: solid 1px #918171;
                    text-align: center;
                    div{
                        width: 100%;
                        text-align: left;
                        height: 1.5rem;
                        i{
                            margin: auto .2rem;
                            font-size:.8rem;
                            line-height: 1.5rem
                        }
                    }
                }    
                border-bottom: solid 1px #918171;
            }
        }
        .triggleBar{
            position: absolute;
            bottom: 0;
            height: 1.5rem;
            line-height: 1.5rem;
            width:100%;
            text-align: center;
        }
        &.active{
            transform: translate3d(0,6rem,0);
        }
    }
    .singleGameInfo{
        position: absolute;
        z-index: 1000;
        width: 20rem;
        height: 12rem;
        background: #ffffffc4;
        left: 0;right: 0;top: 0;bottom: 0;
        margin: auto;
        border: solid 1px #ccc;
        border-radius: 1rem;
        overflow: hidden;
        color: #333;
        box-shadow: 0 2rem 7rem #22311f;
        .header{
            width: 100%;
            height: 1.5rem;
            line-height: 1.5rem;
            background: #ddd;
            text-align: center;
            border-bottom: solid 1px #999;
            border-radius: 1rem;
            margin-bottom: .3rem;
        }
        .close{
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            background: #99602d;
            right: -1rem;
            top:-1rem;
            text-align: center;
            color: #fff
        }
        p{
            width: 95%;
            margin: 0 auto;
            line-height: 1.4rem;
            b{
                background: #c93e26;
                color: #fff;
                padding: 0 .6rem;
                border-radius: .5rem;
                &.lose{
                    background: #3b5835;
                    
                }
            }
        }
    }
}