.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

._transition {
    -webkit-transition: all 0.1s ease-out;
}

.clearfix {
    &:after {
        content: "";
        height: 0;
        line-height: 0;
        display: block;
        visibility: hidden;
        clear: both
    }
}

.loadWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #484A5F;
    &>div {
        position: absolute;
        width: 20rem;
        height: 1rem;
        border: solid .2rem #64D4E8;
        border-radius: .5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        span {
            ._transition;
            border-radius: .3rem;
            float: left;
            text-align: center;
            font-size: 1.2rem;
            height: 1rem;
            line-height: 1rem;
            background: #64D4E8;
            color: #484A5F;
            text-shadow: 1px 1px 0 #fff;
            box-shadow: 0 0 3.5rem #64D4E8;
        }
        h3 {
            position: absolute;
            width: 100%;
            bottom: -200%;
            color: #64D4E8;
            text-align: center;
            font-weight: normal;
        }
    }
}

button {
    outline: none;
    &:active {
        transform: translate3d(0, .2rem, 0)
    }
}

.MainTable {
    width: 100%;
    margin: 0;
    height: 100%;
    background: url('/images/games/majiang2/desktop1.jpg');
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    .ruleNameBar {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1rem;
        color: #fff;
        box-shadow: 1px 1px 1px #000;
        font-size: .7rem;
    }
    .mask {
        position: absolute;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
    .gameInfoBar {
        position: absolute;
        z-index: 88;
        width: 18rem;
        height: 2rem;
        right: 0;
        top: 0; // border-left: solid .1rem #ac5618;
        // border-bottom: solid .1rem #ac5618;
        // border-radius: 0 0 0 1rem;
        //background: #d4ab7fbf;
        //box-shadow: -0.2rem 0.2rem 0.6rem #000;
        line-height: 2rem;
        font-size: 1.1rem;
        text-align: right;
        text-shadow: 1px 1px 1px #333;
        .remain {
            //background: url('/images/games/majiang2/remain.png');
            text-align: center;
            width: 11rem;
            height: 1.7rem;
            background-size: 100% 100%;
            float: left;
            margin: .15rem 0 0 .5rem;
            background: #0F6A4B;
            border-radius: 1.7rem;
            color: #6EDB97;
            line-height: 1.7rem;
            b {
                margin: 0 .1rem;
                font-weight: normal;
                color: #edf397;
            }
        }
        button {
            width: 2rem;
            height: 2rem;
            padding: 0;
            border: 0;
            margin: 0 .3rem;
            background-size: 100% 100%;
            background-color: transparent;
            &.record {
                background-image: url('/images/games/majiang2/record.png');
            }
            &.msg {
                background-image: url('/images/games/majiang2/msgBtu.png');
            }
        }
    }
    .gameInfoPanel {
        position: absolute;
        z-index: 100;
        width: 90%;
        height: 90%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
        border: solid .1rem #fff;
        box-shadow: 0 0 .2rem #fff inset;
        border-radius: 2rem;
        &>header {
            background: url('/images/games/majiang2/endTitle.png') no-repeat center;
            position: absolute;
            top: -1.5rem;
            height: 4rem;
            width: 100%;
            background-size: contain
        }
        .contentWrap {
            height: 21rem;
            margin-top: 3rem;
            display: flex;
            .content {
                //height: 21rem;
                box-sizing: border-box;
                flex: 1;
                &>div {
                    margin: .5rem;
                    border: solid .3rem #d4ab7f; //height: 18rem;
                    background: #fcfaed;
                    border-radius: 1rem;
                    overflow: hidden;
                    &.self {
                        border-color: #ce632d;
                        background: #d8ebee
                    }
                    header {
                        height: 3rem;
                        background: #e7d1a8;
                        text-align: center;
                        line-height: 3rem;
                        font-weight: bold;
                        color: #b2510c;
                        border-bottom: solid 1px #d4ab7f;
                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                            border-radius: .9rem;
                            overflow: hidden;
                            ;
                            margin-right: .2rem
                        }
                        span {}
                    }
                    ul {
                        list-style: none;
                        margin: 0;
                        height: 12rem;
                        overflow: auto;
                        li {
                            color: #a4723d;
                            text-align: left;
                            margin: 0 auto;
                            padding-left: .5rem;
                            height: 2.6rem;
                            &:nth-child(2n) {
                                background: #f1d8c5;
                            }
                            i {
                                font-size: .7rem; // width: 7rem;
                                // display: inline-block;
                                color: #666; // margin-left: .2rem;
                                // vertical-align: middle;
                                // white-space:nowrap;
                                // overflow: hidden;
                            }
                        }
                    }
                    footer {
                        height: 3rem;
                        background: #e7d1a8;
                        text-align: center;
                        line-height: 3rem;
                        font-weight: bold;
                        span {
                            font-size: 1.4rem;
                            color: #ac5618;
                            text-shadow: 0px 1px 2px #000;
                        }
                    }
                }
            }
        }
        &>footer {
            position: absolute;
            bottom: 0;
            height: 4rem;
            width: 100%;
            text-align: center;
            .overWeak {
                position: absolute;
                top: -2.5rem;
                text-align: center;
                left: 0;
                right: 0;
                margin: auto;
                width: 22rem;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 1rem;
                color: #e7fc46;
                img {
                    vertical-align: middle
                }
            }
            .closeBtu {
                background: url('/images/games/majiang2/close_btu.png');
                height: 3rem;
                width: 6.2rem;
                background-size: cover;
                border: 0;
                padding: 0;
            }
        }
    }
    .msgPanel {
        position: absolute;
        z-index: 100;
        width: 22rem; //height: -webkit-calc(100%-7rem);
        right: 0;
        top: 2.5rem;
        bottom: 2.5rem;
        background: rgba(0, 0, 0, 0.7);
        color: #fff; //background: -webkit-linear-gradient(bottom, #2a2a2b2c, #25252588);
        display: flex;
        flex-direction: column;
        transition: all .2s ease-out;
        margin: auto;
        border-radius: 1rem 0 0 1rem;
        ul {
            list-style: none;
            li {
                padding: .2rem .5rem;
                svg {
                    vertical-align: middle
                }
                &>b {
                    color: #59f1b2;
                    float: left;
                    .ellipsis;
                    max-width: 5rem;
                }
                &.sysMsg {
                    span {
                        color: #999 !important;
                        vertical-align: middle
                    }
                }
            }
        }
        &.hide {
            transform: translate3d(22rem, 0, 0);
        }
        .mainList {
            flex: 1;
            overflow: auto;
        }
        .miniMsgPanel {
            position: fixed;
            top: 0rem;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            min-height: 2rem;
            line-height: 2rem;
            padding: 0 .5rem;
            width: 20rem; //display: none;
            transition: all .2s ease-out;
            visibility: hidden;
            border-radius: 5rem;
            &>b {
                color: #59f1b2;
                float: left;
                .ellipsis;
                max-width: 5rem;
            }
            &.show {
                //display: block;
                transform: translate3d(-22rem, 0, 0) !important;
                visibility: inherit;
            }
        }
        &>header {
            background: #000;
            height: 3rem;
            border-bottom: solid 1px #191919;
            position: relative;
            border-radius: 1rem 0 0 0;
            input {
                margin: 0.2rem;
                width: 13.5rem;
                padding: 0;
                border: solid 1px #999;
                background-color: transparent;
                color: #eee;
                height: 2rem;
                border-radius: 1rem;
                padding: 0 .5rem;
                &::-webkit-input-placeholder {
                    color: #666;
                    font-size: .8rem;
                }
            }
            button {
                vertical-align: middle;
                background: transparent;
                border: none;
                margin: 0 .5rem
            }
            div {
                position: absolute;
                transition: all .1s ease-out;
                width: 18rem;
                top: 2.5rem;
                right: .5rem;
                background: #000;
                border: solid 1px #ccc;
                border-radius: 1rem;
                overflow: hidden;
                z-index: 20000;
                ul {
                    list-style: none;
                }
                &.hide {
                    opacity: 0;
                    transform: translate3d(0, 1rem, 0);
                    visibility: hidden;
                }
                li {
                    padding: 0 .5rem;
                    height: 3rem;
                    line-height: 3rem;
                }
                li:nth-child(2n) {
                    background: #191919;
                }
            }
        }
        &>footer {
            background: #000;
            height: 3rem;
            text-align: center;
            border-top: solid 1px #191919;
            &:active {
                background: #191919
            }
            svg {
                margin-top: .3rem;
            }
        }
    }
    .tableCenter {
        position: absolute;
        width: 8rem;
        height: 8rem; // top: 11.4rem;
        // left: 26rem;
        top: -4rem;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(.8, .8);
        margin: auto;
        background: url('/images/games/majiang2/center.png');
        background-size: 100% 100%;
        opacity: .8;
        .center {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 4rem;
            height: 4rem;
            color: #d1cf69;
            text-align: center;
            line-height: 4rem;
            font-size: 1.5rem;
            &.warn {
                color: red;
                font-weight: bold;
                -webkit-animation: effect_warn .5s infinite linear;
            }
        }
        .bottom {
            background: url('/images/games/majiang2/center_bottom.png');
            position: absolute;
            bottom: -1.3rem;
            height: 50%;
            left: .5rem;
            width: 100%;
            background-size: 100% 100%;
            -webkit-animation: effect_userPoint .5s infinite linear;
        }
        .left {
            background: url('/images/games/majiang2/center_left.png');
            position: absolute;
            bottom: .5rem;
            height: 100%;
            left: -1.3rem;
            width: 50%;
            background-size: 100% 100%;
            -webkit-animation: effect_userPoint .5s infinite linear;
        }
        .right {
            background: url('/images/games/majiang2/center_right.png');
            position: absolute;
            bottom: .5rem;
            height: 100%;
            right: -1.3rem;
            width: 50%;
            background-size: 100% 100%;
            -webkit-animation: effect_userPoint .5s infinite linear;
        }
        .top {
            background: url('/images/games/majiang2/center_top.png');
            position: absolute;
            top: -1.3rem;
            height: 50%;
            left: .4rem;
            width: 100%;
            background-size: 100% 100%;
            -webkit-animation: effect_userPoint .5s infinite linear;
        }
    }
    &.hideLackIcon {
        .colorLack {
            display: none
        }
    }
    &.effectActive {
        -webkit-transition: all 0.1s ease-out;
        -webkit-animation: dropDownForBg .2s ease-out;
        animation-delay: .4s;
    }
}

.userDock {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 5rem;
    height: 6.2rem;
    padding-top: .5rem;
    color: #ddd;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0.3rem #000;
    border-radius: .4rem;
    &.winner {
        &:after {
            content: '';
            position: absolute;
            width: 2.2rem;
            height: 1.5rem;
            right: -.2rem;
            top: .2rem;
            background: url('/images/games/majiang2/winner.png');
            background-size: cover;
        }
    }
    .nameWrap {
        .ellipsis;
        font-size: .8rem;
        line-height: 1.4rem;
        color: #ddf145;
        text-shadow: 0 0 1px #333;
    }
    .score {
        color: #ccc;
        text-shadow: 1px 1px 0px #000;
    }
    &>img {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        border: solid .2rem rgb(117, 94, 17);
    }
    .ready_ok {
        position: absolute;
        top: 0;
        right: -1rem;
        width: 1.5rem;
        height: 2rem;
        background: url('/images/games/majiang2/ok.png');
        background-size: cover;
    }
    .colorLack {
        position: absolute;
        top: 0;
        left: -1rem;
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.outCardListWrap {
    &>div {
        float: left;
        margin-top: -.7rem;
    }
}

.winDesc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    margin: auto;
    color: #ffc;
    text-shadow: 0 0 .1em #000; // position: absolute;
    // left: 0;
    // right: 0;
    // //bottom: -1rem;
    // margin: auto;
    // border:solid 1px #ae7146;
    // background: #dfcfc3;
    // padding: .2rem .5rem;
    // z-index: 50;
    // width: 22rem;
    // border-radius: 2rem;
    // &:after{
    //     content: '';
    //     width: 1rem;
    //     height: 1rem;
    //     background: #662e07;
    //     border-left:solid 1px #93db35;
    //     border-bottom:solid 1px #93db35;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     top:-.62rem;
    //     transform:rotate(90deg)
    // }
}

.gamerWrap_mine {
    //display: none;
    position: absolute;
    width: 100%;
    height: 8rem; //border: solid 1px #fff;
    left: 0;
    bottom: 0;
    box-sizing: border-box; // .userInfoWrap {
    //     .userDock;
    // }
    .cardListWrap {
        .clearfix;
        position: absolute;
        right: 1rem;
        top: 0;
        bottom: 0;
        margin: auto; //background: rgba(255, 255, 255, 0.1);
        width: 95%;
        height: 5rem;
        text-align: center;
        .mainCards {}
        .group {
            text-align: left;
            display: inline-block;
            margin: 0 .5rem;
            &.meet {
                //width:15%;
                span:last-child {
                    margin-left: -5rem;
                    transform: translate3d(0, -1.1rem, 0);
                }
            }
            &.fullmeet {
                //width: 20%;
                span:last-child {
                    margin-left: -6.7rem;
                    transform: translate3d(0, -1.1rem, 0);
                }
            }
        }
        .fetchCard {
            //display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
        } // &>div{
        //     ._transition
        // }
    }
    .outCardListWrap {
        //background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 20rem;
        height: 5rem;
        left: 0;
        right: 0;
        margin: auto;
        top: -5rem;
    }
    .operateWrap {
        position: absolute;
        width: 100%;
        top: -3rem;
        height: 3rem;
        text-align: center;
        .loadingPanel {
            opacity: 0;
            color: #6EDB97;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -8rem;
            background: #66666669; //background: url(/images/games/majiang2/laoding.gif) no-repeat center;
            -webkit-animation: effect_mark2 4s infinite linear;
            &.action {
                -webkit-transition: all 0.1s ease-out 3s;
                opacity: 1;
            }
        }
    }
}

.gamerWrap_left {
    position: absolute;
    width: 10rem; //border: solid 1px #fff;
    left: 0;
    top: 5rem;
    bottom: 8rem;
    box-sizing: border-box;
    .userDock {
        left: 1rem;
    }
    .cardListWrap {
        .clearfix;
        position: absolute;
        right: 1rem;
        margin: auto; //height: 14.5rem;
        width: 1.6rem;
        text-align: center;
        .fetchCard {
            float: left;
        }
        .group {
            margin-bottom: .2rem;
            .clearfix;
        }
        .card_group {
            background-image: url('/images/games/majiang2/sideCard2.png');
            width: 2rem;
            height: 1.8rem;
            margin-left: -.1rem;
            float: left;
            margin-top: -.6rem;
            img {
                -webkit-transform: translate3d(.1rem, -.1rem, 0) rotate(90deg);
                width: 70%;
                height: 90%;
            }
        }
    }
    .outCardListWrap {
        //background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 7.8rem;
        top: 3rem;
        bottom: 3rem;
        margin: auto;
        left: 100%;
    }
}

.gamerWrap_right {
    position: absolute;
    width: 10rem; //border: solid 1px #fff;
    right: 0;
    top: 5rem;
    bottom: 8rem;
    box-sizing: border-box;
    .userDock {
        right: 1rem;
        left: auto;
    }
    .cardListWrap {
        .clearfix;
        position: absolute;
        top: -2rem;
        left: 1rem;
        bottom: 0;
        margin: auto;
        height: 14.5rem;
        width: 1.6rem;
        text-align: center;
        .card_side_gamer_main {
            transform: rotate(0deg)
        }
        .fetchCard {
            float: left;
        }
        .group {
            margin-bottom: .2rem;
            .clearfix;
        }
        .card_group {
            background-image: url('/images/games/majiang2/sideCard2.png');
            width: 2rem;
            height: 1.8rem;
            margin-left: -.1rem;
            float: left;
            margin-top: -.6rem;
            img {
                -webkit-transform: translate3d(-.1rem, -.1rem, 0) rotate(-90deg);
                width: 70%;
                height: 90%;
            }
        }
    }
    .outCardListWrap {
        //background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 7.8rem;
        top: 3rem;
        bottom: 3rem;
        margin: auto;
        right: 100%;
    }
}

.gamerWrap_top {
    position: absolute;
    width: 49rem;
    height: 5rem; //border: solid 1px #fff;
    left: 0;
    top: 0;
    box-sizing: border-box;
    .userDock {
        top: 2rem;
    }
    .cardListWrap {
        .clearfix;
        position: absolute;
        top: 1.5rem;
        left: 10rem;
        right: 1rem;
        margin: auto;
        bottom: 0;
        margin: auto;
        height: 5rem;
        text-align: center;
        .card_side_gamer_main {
            transform: rotate(0deg)
        }
        .fetchCard {
            margin-left: .5rem;
            float: left;
        }
        .group {
            margin-left: .2rem;
            .clearfix;
            float: left;
        }
        .card_group {
            width: 2.5rem;
            height: 3.3rem;
            img {
                -webkit-transform: rotate(180deg);
                margin-top: .3rem
            }
        }
    }
    .outCardListWrap {
        //background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 20rem;
        height: 5rem;
        left: 11rem;
        right: .5rem;
        margin: auto;
        bottom: -5rem;
    }
}

.btu {
    ._transition;
    display: inline-block;
    background-size: 100% 100%;
    &.showCard {
        width: 5.5rem;
        height: 3rem;
        background-image: url('/images/games/majiang2/showCard.png');
        opacity: 0;
        transform: translate3d(0, 0rem, 0);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto !important;
        &.active {
            opacity: 1;
            transform: translate3d(0, -.6rem, 0);
        }
    }
    &.meet {
        width: 5rem;
        height: 4rem;
        background-image: url('/images/games/majiang2/meet.png');
    }
    &.fullmeet {
        width: 5rem;
        height: 4rem;
        background-image: url('/images/games/majiang2/fullmeet.png');
    }
    &.win {
        width: 5rem;
        height: 4rem;
        background-image: url('/images/games/majiang2/win.png');
    }
    &.pass {
        width: 5rem;
        height: 4rem;
        background-image: url('/images/games/majiang2/pass.png');
    }
    &:active {
        transform: scale(.9, .9);
    }
    &.ready {
        width: 5.5rem;
        height: 3rem;
        background-image: url('/images/games/majiang2/ready.png');
        margin-bottom: -5rem;
    }
    &.chooseColor {
        width: 5rem;
        height: 5rem;
        margin: 0 1rem;
        ._transition;
        &.active {
            transform: scale(.8, .8);
        }
    }
    &.chooseB {
        background-image: url('/images/games/majiang2/chooseB.png');
    }
    &.chooseT {
        background-image: url('/images/games/majiang2/chooseT.png');
    }
    &.chooseW {
        background-image: url('/images/games/majiang2/chooseW.png');
    }
}

.card {
    display: inline-block;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
    ._transition;
    &.gray {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: .4rem;
            background: rgba(0, 0, 0, 0.3);
        }
    }
    &.mark {
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: .4rem;
            background: rgba(226, 29, 29, 0.3);
            -webkit-animation: effect_mark 1s infinite linear;
        }
    }
    &.active {
        -webkit-transform: translate3d(0, -.7rem, 0);
    }
    &.stress {
        border: solid .1rem #59f1b2;
        border-radius: .5rem; //-webkit-animation: effect1 1s infinite linear;
    }
    img {
        width: 85%;
        height: 85%;
    }
    &.card_face_gamer_main {
        background-image: url('/images/games/majiang2/faceCard.png');
        width: 2.5rem;
        height: 3.6rem;
        margin-left: -.2rem;
        float: left;
        &.stress {
            border-radius: .2rem;
        }
    }
    &.card_side_gamer_main {
        background-image: url('/images/games/majiang2/sideCard.png');
        width: 1rem;
        height: 2.1rem;
        margin-left: -.1rem;
        transform: rotate(180deg);
        margin-top: -1.1rem;
        float: left;
        &.stress {
            border-radius: .2rem;
        }
    }
    &.card_mine_main {
        background-image: url('/images/games/majiang2/mainCard.png');
        width: 3.4rem;
        height: 4.7rem;
        margin-left: -.1rem;
        img {
            margin-top: .4rem;
        }
    }
    &.card_mine_main_out {
        background-image: url('/images/games/majiang2/mainCard_group.png');
        width: 2rem;
        height: 2.6rem;
        margin-left: -.1rem;
        img {
            width: 70%;
            height: 70%;
        }
    }
    &.card_group {
        background-image: url('/images/games/majiang2/mainCard_group.png');
        width: 3.4rem;
        height: 4.5rem;
        margin-left: -.1rem;
        img {
            width: 70%;
            height: 70%;
        }
    }
    &.card_mine_fetch {
        background-image: url('/images/games/majiang2/mainCard.png');
        width: 3.4rem;
        height: 4.5rem;
        margin-left: .5rem;
        img {
            margin-top: .4rem;
        }
    }
}

.importantWeak {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: 10rem;
        font-size: 3rem;
        text-align: center;
        a{
            font-size: 2rem;
            margin: 0 .5rem
        }
    }
}

.winEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50000;
    left: 0;
    top: 0;
    overflow: hidden;
    &.hide{
        transform: translate3d(0, -200%, 0);
    }
    span {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 6rem;
        text-align: center;
        width: 20rem;
        height: 15rem;
        background-image: url(/images/games/majiang2/bigEvent/bug_hu.png);
        background-size: cover;
        background-position: center;
        transform: translate3d(0, -200%, 0);
    }
    &.effectActive {
        transform: translate3d(0, 0, 0);
        span {
            -webkit-animation: dropDown 1s ease-out;
            -webkit-animation-fill-mode:forwards;
        }
        &.left {
            transition: all .5s ease-out;
            transform: translate3d(-100%, 0, 0) scale(.1, .1);
        }
        &.right {
            transition: all .5s ease-out;
            transform: translate3d(100%, 0, 0) scale(.1, .1);
        }
        &.top {
            transition: all .5s ease-out;
            transform: translate3d(0, -100%, 0) scale(.1, .1);
        }
        &.bottom {
            transition: all .5s ease-out;
            transform: translate3d(0, 100%, 0) scale(.1, .1);
        }
    }
}

@media screen and (orientation: portrait) {
    /*竖屏 css*/
    .btu {
        &.ready {
            width: 9.5rem;
            height: 5rem;
        }
    }
    .orientationWeak {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        span {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;
            height: 10rem;
            font-size: 3rem;
            text-align: center;
        }
    }
    .gamerWrap_mine {
        z-index: 1;
        height: 15rem;
        .userDock {
            top: -25rem;
        }
        .cardListWrap {
            height: auto;
            .fetchCard {
                //display: inline-block;
                position: absolute;
                right: 0;
                top: -50%;
            }
        }
        .operateWrap {
            .btu {
                transform: scale(1.5, 1.5);
                margin: 0 1rem;
            }
        }
    }
    .MainTable {
        .gameInfoPanel {
            .contentWrap {
                flex-direction: column;
                .content {
                    &>div {
                        ul {
                            height: 10rem;
                        }
                    }
                }
            }
        }
        .gameInfoBar {
            button {
                height: 4rem;
                width: 4rem;
            }
        }
        .tableCenter {
            width: 12rem;
            height: 12rem;
            .center {
                font-size: 2.5rem
            }
        }
        .msgPanel {
            width: 30rem;
            top: 4.5rem;
            bottom: 4.5rem;
            &.hide {
                transform: translate3d(30rem, 0, 0);
            }
            .miniMsgPanel {
                width: 30rem;
                font-size: 2.5rem;
                &>b {
                    color: #59f1b2;
                    float: left;
                    .ellipsis;
                    max-width: 5rem;
                }
                &.show {
                    //display: block;
                    transform: translate3d(-28rem, 0, 0) !important;
                    visibility: inherit;
                }
            }
            &>header {
                height: 5rem;
                input {
                    width: 18rem;
                    height: 3rem;
                    margin: .8rem;
                }
                button {
                    svg {
                        width: 3.5rem !important;
                        height: 3.5rem !important
                    }
                }
                ul {
                    li {
                        font-size: 2rem
                    }
                }
                div {
                    top: 4.5rem;
                    width: 25rem;
                    ul {
                        li {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &>footer {
                height: 5rem;
            }
            ul {
                li {
                    svg {
                        width: 2rem;
                        height: 2rem;
                    }
                    font-size: 1.5rem;
                }
            }
        }
    }
    .card.card_mine_main {
        width: 5rem;
        height: 7rem;
    }
}

@media screen and (orientation: landscape) {
    /*横屏 css*/
    .orientationWeak {
        display: none
    }
}

@-webkit-keyframes effect1 {
    0% {
        border: solid .1rem #59f1b2;
    }
    50% {
        border: solid .3rem #59f1b2;
    }
    100% {
        border: solid .1rem #59f1b2;
    }
}

@-webkit-keyframes effect_mark {
    0% {
        background: rgba(226, 29, 29, 0.5);
    }
    50% {
        background: rgba(226, 29, 29, 0);
    }
    100% {
        background: rgba(226, 29, 29, 0.5);
    }
}

@-webkit-keyframes effect_mark2 {
    0% {
        background: rgba(145, 145, 145, 0.8);
    }
    25% {
        background: rgba(139, 70, 70, 0.8);
    }
    50% {
        background: rgba(201, 76, 76, 0.8);
    }
    75% {
        background: rgba(139, 70, 70, 0.8);
    }
    100% {
        background: rgba(145, 145, 145, 0.8);
    }
}

@-webkit-keyframes effect_userPoint {
    0% {
        opacity: .2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@-webkit-keyframes effect_warn {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.4, 1.4);
    }
    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes dropDown {
    0% {
        transform: scale(15, 15) rotate(0deg);
        ;
        opacity: 0;
    }
    50% {
        transform: scale(1, 1) rotate(0deg);
        opacity: .7;
    }
    70% {
        transform: scale(1.2, 1.2) rotate(20deg);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1) rotate(10deg);
        opacity: 1;
    }
}

@-webkit-keyframes dropDownForBg {
    0% {
        transform: scale(1, 1);
    }
    70% {
        transform: scale(.95, .95);
    }
    100% {
        transform: scale(1, 1);
    }
}

//-webkit-animation: stress 1s infinite linear;