._transition{-webkit-transition: all 0.1s ease-out;}
button{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: .2rem;
    background: url('/images/games/majiang/button1.png');
    width: 6rem;
    height: 2rem;
    color: #fff;
    background-size: 100% 100%;
    box-shadow: .1rem .1rem .3rem #000;
    ._transition;
    &.hide{opacity: 0;transform: translate3d(0,-.5rem,0);height: 0}
    &.active{opacity: 1;}
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    &:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}
.dockBar{
    position: absolute;
    border: solid 0px #ccc;
    box-sizing: border-box;
    border:solid 0px #eee;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('/images/games/majiang/desktop.png');
    background-size: cover;
    color:#fff;
    .ready_ok{
        display: inline-block;
        width: 1.5rem;
        height: 2rem;
        background: url('/images/games/majiang/ok.png');
        background-size: cover;
    }
    .dockBottom {
        .dockBar;
        width: 100%;
        height: 25%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        .cardsListWrap{
            width: 100%;
            text-align: center;
            margin-top: .7rem;
            .groupCardWrap{
                display: inline-block;
                margin: 0 .5rem;
                span{
                    -webkit-transform: rotate(180deg) skewX(-10deg);
                    width:2rem;
                    height: 2.7rem;
                }
            }
            span{
                position: relative;
                color:#333;
                width:2.2rem;
                height: 3rem;
                display: inline-block;
                //background: url(/images/games/majiang/cards3.png);// .2rem .1rem;
                background-size: 100% 100% !important;
                ._transition;
                &:hover{
                    //transform: translate3d(0,-.5rem,0);
                }
                &.active{
                    transform: translate3d(0,-.5rem,0);
                }
            }
        }
        .operateWrap{
            position: absolute;
            left: 0;right: 0;
            margin: auto;
            top: -4rem;
            //background: #3689f534;
            height: 4.5rem;
            text-align: center;
            z-index: 10;
        }
        .userDock{
            position: absolute;
            height: 4rem;
            left: 2rem;
            top:0;
            bottom: 0;
            margin: auto;
            text-align: center;
            img{width: 2rem;
                height: 2rem;
                border:solid .2rem #99602d;
                border-radius: 2rem;
                box-shadow: 0.05rem 0.05rem 0.3rem #000
            }
        }
        .outCardsWrap{
            position:absolute;
            width: 18rem;
            height: 4rem;
            top:-4rem;
            left:0;
            right: 0;
            margin:0 auto;
            span{
                color:#333;
                width:1.3rem;
                height: 1.8rem;
                display: inline-block;
                background-size: 100% 100% !important;
                ._transition;
            }
        }
        .colorLack{
            position: absolute;
            right: 1.2rem;
            bottom: 1.2rem;
            padding: 0 .2rem;
            border:solid 1px #f5e47f;
            border-radius: .3rem;
            color: #f5e47f
        }
    }
    .dockLeft {
        .dockBar;
        width: 15%;
        height: 75%;
        top: 0;
        left: 0;
        margin:auto 0;
        .userDock{
            position: absolute;
            //width: 100%;
            left: 1.5rem;
            top:1.5rem;
            text-align: center;
            img{width: 2rem;
                height: 2rem;
                border:solid .2rem #99602d;
                border-radius: 2rem;
                box-shadow: 0.05rem 0.05rem 0.3rem #000
            }
        }
        .cardsListWrap{
            width: .7rem;
            float: left;
            text-align: center;
            margin-left: 2rem;
            margin-top: 7rem;
            span{
                margin-top: -.6rem;
                color:#333;
                width:.7rem;
                height:1.4rem;
                float: left;
                //background: url(/images/games/majiang/cards3.png);// .2rem .1rem;
                background-size: 100% 100% !important;
                ._transition;
                -webkit-transform: rotate(180deg);
            }
        }
        .outCardsWrap{
            position:absolute;
            width: 13rem;
            top:8.5rem;
            height: 4rem;
            right:-8.5rem;
            margin:0 auto;
            -webkit-transform: rotate(90deg);
            span{
                color:#333;
                width:1.3rem;
                height: 1.8rem;
                display: inline-block;
                background-size: 100% 100% !important;
                ._transition;
            }
        }
        .colorLack{
            position: absolute;
            right: .2rem;
            bottom: .2rem;
            padding: 0 .2rem;
            border:solid 1px #f5e47f;
            border-radius: .3rem;
            color: #f5e47f
        }
    }
    .dockCenter{
        .dockBar;
        width: 70%;
        height: 60%;
        left: 15%;
        right: 15%;
        top:15%;
        bottom: 25%;
        background: rgba(212, 212, 212,0.3);
        p{font-size:.5rem;}
    }
    .dockRight {
        .dockBar;
        width: 15%;
        height: 75%;
        top: 0;
        right: 0;
        margin:auto 0;
    }
    .dockTop {
        .dockBar;
        width: 70%;
        height: 15%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}