.dockBar{
    position: absolute;
    border: solid 1px #ccc;
    background: #eee
}
.wrapper {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background: #ddd;
    .dockBottom {
        .dockBar;
        width: 300px;
        height: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .dockLeft {
        .dockBar;
        width: 50px;
        height: 450px;
        top: 0;
        left: 0;
        bottom: 0;
        margin:auto 0;
    }
    .dockRight {
        .dockBar;
        width: 50px;
        height: 450px;
        top: 0;
        right: 0;
        bottom: 0;
        margin:auto 0;
    }
    .dockTop {
        .dockBar;
        width: 300px;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}